@media screen and (min-width: 1px) {
    
    body {
        background-color: #F7EFE2;
    }

    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }


    #logo {
        width: 50%;
        margin-left: 25%
    }

    #logo2 {
        width: 50%;
        margin-left: 25%;
        display: none;
    }

}