@media screen and (min-width: 1px) {
    
    body {
        font-family: 'M PLUS Rounded 1c';
        font-size: 18px;
        text-decoration: none;
    }

    header {
        height: 104px;
        background-color: #FFB331;      
        font-weight: bold;
        color: white;
    }

    nav {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap; 
        height: 100%;
        text-align: center;
    }

    .logo {
        width: 20%;
        padding: 0% 5%;
        margin-left: 20%;
        text-align: center;
    }

    .nav_point {
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    .center {
        margin: auto;
      }

    button {
        width: 220px;
        height: 51px;
        color: white;
        border-radius: 30px;
        font-weight: 800;
        display: inline-block;
        position: relative;
        z-index: 1;
        border: 0px;
    }

    .purple {
        background-color: #7252A5;
    }

    .blue {
        background-color: #0992DA;
    }

    .beige {
        background-color: #EEE8DC;
    }

    .yellow {
        background-color: #FFB331;
    }

    button:before {
            content: '';
            position: absolute;
            display: block;
            top: 5px;
            bottom: -5px;
            left: -5px;
            right: 5px;
            z-index: -1;
            border: 2px solid rgba(0, 0, 0, 0.8);
            border-radius: 30px;
      }

    .top {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        text-align: left;
        padding: 0 10%;
    }

    .top_info {
        width: 50%;
        color: white;
        padding: 24px 0;
    }


    .people {
        width: 25%;
        height: auto;
        position: relative;
    }

    .people img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        bottom: 0;
    }

    .mobile {
        width: 25%;
        height: auto;
        position: relative;
    }

    .mobile img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        bottom: 0;
    }

    .infobox {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        text-align: left;
        padding: 0 10%;
    }

    .infobox_info {
        width: 100%;
        color: black;
        padding: 24px 0;
    }

    
    .users {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        text-align: left;
        padding: 24px 0;
    }

    .user_quote {
        width: 16%;
        color: black;
        padding: 24px;
        margin: 0 1%;
        border-radius: 15px;
        text-align: center;
    }

    .user_quote img {
        width: 100%;
    }

    .user_quote_margin {
        width: 25%;
        height: auto;
        position: relative;
    }



    .user_quote_margin img {
        max-width: 100%;
        max-height: 80%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .purple_underline {
        width: 320px;
        height: 35px;
    }

    footer {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        text-align: left;
        padding: 0 10%;
    }

    .adress {
        width: 55%;
        color: white;
        padding: 24px 0;
    }

    .social_media {
        width: 15%;
        color: white;
        padding: 24px 0;
    }

    .social_media img {
        width: 50px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    #logo {
        width: 50%;
        margin-left: 25%
    }

    #logo2 {
        width: 50%;
        margin-left: 25%;
        display: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

}