@media screen and (min-width: 1px) {
    
    body {
        font-family: 'M PLUS Rounded 1c';
        font-size: 22px;
        text-decoration: none;
    }

    header {
        height: 104px;
        background-color: #FFB331;      
        font-weight: bold;
        color: white;
    }

    nav {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap; 
        height: 100%;
        text-align: center;
    }

    .logo {
        width: 20%;
        padding: 0% 5%;
        margin-left: 20%;
        text-align: center;
    }

    .nav_point {
        list-style-type: none;
        text-decoration: none;
        color: white;
    }

    .center {
        margin: auto;
      }

    button {
        width: 220px;
        height: 51px;
        color: white;
        border-radius: 30px;
        font-weight: 800;
        display: inline-block;
        position: relative;
        z-index: 1;
        border: 0px;
    }

    .button_purple {
    background-color: #7252A5;
    }

    button:before {
            content: '';
            position: absolute;
            display: block;
            top: 5px;
            bottom: -5px;
            left: -5px;
            right: 5px;
            z-index: -1;
            border: 2px solid rgba(0, 0, 0, 0.8);
            border-radius: 30px;
      }


    #logo {
        width: 50%;
        margin-left: 25%
    }

    #logo2 {
        width: 50%;
        margin-left: 25%;
        display: none;
    }

}